In [18]:
def say_hello():
    print("Hello!")

In [19]:
say_hello()

Hello!

In [20]:
def say_something(something):
    print(something)

In [21]:
say_something("Hello World")

Hello World

In [22]:
jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(jane_says)

Hi, my name is Jane. I'm learning Python!

In [23]:
# A list of my grades
my_grades = ['B', 'C', 'B', 'D']

In [24]:
# Import Pandas
import pandas as pd

# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [25]:
my_grades.map({'B':'A', 'C':'B', 'D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [26]:
# using the format() function
my_grades = [92.34, 84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [32]:
# Chaining the map() and format() Functions
# Convert the numerical grades to a Series
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [33]:
my_grades.map("{:.1f}".format)

0    92.3
1    84.6
2    86.8
3    78.3
dtype: object